<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5" data-provider-thread-count="1">
	<test name="Test1">
		<parameter name="path" value="/" />
		<classes>
			<!-- <class name="com.baranov.pages.HomePageTest"/> -->
			<!-- <class name="com.baranov.LoginTest" /> -->
			<class name="com.baranov.CreateFilmTest" />
			<!-- <class name="com.baranov.RemoveFilmTest" /> -->
			<!-- <class name="com.baranov.SearchMovie" /> -->
			<!-- <class name="com.baranov.AddNewUserTest" /> -->
		</classes>
	</test>
</suite>